name: flvm
description: "flvm mvvm package extension"
version: 0.0.2
repository: https://github.com/fedorenkoalex/flvm

environment:
  sdk: ^3.10.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0


flutter:


